/*-------DEFAULT SETTING--------*/
/*
	width, height will be inheirted by nested dom(ex:; div )
*/
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

.shadow {
	-webkit-box-shadow: 5px 5px 5px #808080;
 	-moz-box-shadow: 5px 5px 5px #808080;
 	box-shadow: 5px 5px 5px	#808080;
 	margin-bottom: 10px;
}

div.nav-bar ul{
	z-index: 10;
}

.white-font {
	color: #ffffff;
}

.box {
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	border-radius: 20px;	

	background-color: #ffffff;
}


.big_font {
	font-size: 90px;
}

.mid_font {
	font-size: 72px;
}

.small_font {
	font-size: 54px;
}

.title {
	text-align: center;
	margin: 0;
}

/*-------------------------------*/

/*--------NAV-BAR SETTING--------*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
/*------------------------------*/


/*------EACH PAGE SETTING-------*/
div.page-content {
	height: 100%;
}

div.border-container {
	padding-top: 80px;
	padding-bottom: 20px;
}
/*------------------------------*/


/*-------------HOME-------------*/
div#page1 {
	background-image: url("../img/home_bg.png");
    background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
	height: 100%;
	width: auto;
}


div#page1 div.overlayer-view {
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	width: auto;
}

h1.title.big_font.white-font {
	position: absolute;
	width: 480px;
	height: 180px;
	top: 50%;
	left: 50%;
	margin: -90px 0px 0px -240px;
}

/*------------------------------*/


/*-----------CONTENT------------*/
div#page2 {
    background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
	height: 100%;
	width: auto;
}

div#page2 div.border-container div.intro{
	position:relative;
	background-color: rgba(0,0,0,0.3);
	height:auto;
	width:25%;
	left: 30px;
	top: 50px;
	padding: 10px;

	border-radius: 25px;
}

div.intro p, div.intro h3 {
	padding: 0 10px;
	font-size: 18px;
}

div.intro h2 {
	text-align: center;
}
/*------------------------------*/


/*-----------MEMBERS------------*/
div#page3 {
}


div#page3 div.members-container {
	width: 100%;
	height: auto;

	text-align: center;
}

div#page3 div.member-container p {
	padding: 10px;
}

div#page3 div.members-container div.member-container {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;

	width: 300px;
	height: 300px;

	display: inline-block;
	margin: 35px;
}

div.member-container img {
	width: 100%;
	height: auto;
}


div.member-card {
	width: 100%;
	height: 100%;

	-webkit-transition: all 1.0s linear;
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	transition: all 1.0s linear;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

div.member-container:hover div.member-card{
	box-shadow: -5px 5px 5px #808080;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.face.font {
	background-color: #ffffff;
}

.face.back {
	display: block;
	padding: 10px;
	color: #000000;
	text-align: center;
	background-color: #ffffff;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*------------------------------*/


/*---------CONTECT US-----------*/
div#page4 {
	background-color: #ffffff;
}
/*------------------------------*/
